.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aquamarine;
  align-items: center;
  font-family: "Cormorant Unicase", serif;
}
#fullName {
  height: 25px;
  font-size: larger;
}
